<?xml version="1.0"?>
<config>
    <modules>
        <Arty_Customer>
            <version>1.6.0</version>
        </Arty_Customer>
    </modules>
    <global>
       <fieldsets>
        <customer_account>
            <school><create>1</create><update>1</update><name>1</name></school>
        </customer_account>
    </fieldsets>

        <models>
            <arty_customer>
                <class>Arty_Customer_Model</class>
                <resourceModel>arty_customer_resource</resourceModel>
            </arty_customer>
            <arty_customer_resource>
                <class>Arty_Customer_Model_Resource</class>
            </arty_customer_resource>
        </models>
        <blocks>
            <arty_customer>
                <class>Arty_Customer_Block</class>
            </arty_customer>
        </blocks>
        <helpers>
            <arty_customer>
                <class>Arty_Customer_Helper</class>
            </arty_customer>
        </helpers>
    </global>
    <Arty_Customer_setup> <!-- Replace with your module name -->
        <setup>
            <module>Arty_Customer</module> <!-- Replace with your module name -->
            <class>Mage_Customer_Model_Entity_Setup</class>
        </setup>
    </Arty_Customer_setup>

</config>