<?xml version='1.0' ?>

<config>
    <modules>
        <Arty_pract>
            <version>1.0.0</version>
        </Arty_pract>
    </modules>
    <frontend>
        <routers>
            <artypract>
                <use>standard</use>
                <args>
                    <module>Arty_pract</module>
                    <frontName>artypract</frontName>
                </args>
            </artypract>
        </routers>

    </frontend>
</config>