

<config>
	 <modules>
        <Arty_ArtyCatalog>
            <version>1.0.0</version>
        </Arty_ArtyCatalog>
    </modules>
	<global>
		<blocks>
			<artycatalog>
				<rewrite>
					<product_list>Arty_ArtyCatalog_Block_Product_List</product_list>
				</rewrite>
			</artycatalog>
		</blocks>
	</global>
	 <frontend>
       
        <routers>
            <arty_artyCatalog>
                <use>standard</use>
                <args>
                    <module>Arty_ArtyCatalog</module>
                    <frontName>artycatalog</frontName>
                </args>
            </arty_artyCatalog>
        </routers>
    </frontend>
</config>