/* TopBar */
#topbar {

	color: #A92000;
	font-size: 12px;
	padding: 10px 0 0;
	border-bottom: 3px solid #FA9221;
}
#topbar ul {
	margin: 5px 0 0;
}
 a {
	color: #A92000;
	font-size: 15px;
}
#topbar a:hover {
	color: #A92000;
}
#topbar .user-links .welcome {
	padding: 10px;
}
#topbar .user-links ul {
	background: none repeat scroll 0 0 #FA9221;
	margin: 0;
	padding: 10px;
}

#topbar .user-links a {
	color: Red;
}
.float {
	float: left;
}
/* Navbar */
.navbar {
	border: 0 none;
	border-radius: 0;
	margin: 0;
	border-bottom: 3px solid #E7E7E7;
}
.navbar .navbar-form {
	padding-right: 10px;
}
.navbar-nav {
}
.navbar-default .navbar-nav > li:hover > a {
	background: #fff;
	box-shadow: 0 6px 12px rgba(0,0,0,0.176);
}
.navbar ul.level0, .navbar ul.level1 {
	display: none;
	text-align: left;
}
.navbar .dropdown-menu {
	border: 0;
}
.navbar ul.level1 {
	left: 150px;
	top: 0;
}
.navbar-nav > li {
	display: inline-block;
}

.footer ul li {
	list-style-type: none;
}
.vcenter {
	display: inline-block;
	vertical-align: bottom;
	float: none;
}
.searchbox {
	height: 3em;
}
.searchimg {
	background: none;
}
.cartbox {
	height: 3em;
}

.logobox {
	height: 7em;
}
.searchtextbox {
	padding: 3px;
	font-size: 16px;
	border-style: solid;
	border-width: 0px;
	height:35px;
	width:370px;
	border-radius: 7px;
	color:#CCCCCC;
	
	box-shadow: inset 0px 0px 8px 0px #cccccc;
	border-color: #cccccc;
}
.searchtextbox:focus {
	outline: none;
}
.smallheader
{
	margin-top: 2em;
}

/** Category Page **/
.category-products{

	 width:380px;
          
           
           
}

.product-img-box
{
	margin: 5px 25px 5px 25px;
	border: none;
	border-radius: :0px;
	border: solid 1px #DDD;
	height: auto;
}

.list-group-item:first-child
{
	border:none;
	border-radius: none;
	border-radius:0px;
	
}
.product-description
{
	margin-left: 10px;
	margin-right: 10px;
	
}
.swatches
{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	
}
.box-border
{
	border-radius: 0px;
	padding: 0 0 0 0 ;
	
	
}

.row .swatches .col-xs-4 {
    padding: 0;
}

.row .swatches .col-xs-4 a {
    margin-bottom: 0;
}

.Hpadding{
  padding: 0em 0em 0em 0em;
  margin: 0em 0.1em 0em 0.1em;
}
.product-category-profile
{
	border:solid 1px #DDD;
	height: 60px;
}
.product-owner
{
	margin-left: 1px;
	margin-right: 1px;
}
.lightborder
{
	border:solid 1px #DDD;
}
.swatchesrow
{
	
	margin-left: 1px;
	margin-right: 1px;
	background:#ECECEC;
	border-bottom: solid 1px #DDD;
	height: 120px;
}
.pricerow
{
		margin-left: 1px;
	margin-right: 1px;
	background:#ECECEC;
}
.list-group-item
{
	
	border: solid black;
}
.subcategories li { float: left; display: block; text-align: center; margin: 10px}
.subcategories li span { display: block; margin: 8px 0}
/** End category Page **/
