ul.tabs a.packpin-settings span,
ul.tabs a.packpin-settings:hover span {
    background-image: url("../images/pp_logo1.png");
    background-repeat: no-repeat;
    background-position: 17px center;
    line-height: 24px;
    padding-left: 43px;
    border-bottom: 1px dotted;
}
ul.tabs dd:last-child a.packpin-settings span,
ul.tabs dd:last-child a.packpin-settings:hover span {
    border-bottom: none;
}
.packpin-notice {
    background: #eaf0ee;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    padding: 11px 0 0 10px;
}
.packpin-notice-date {
    color: red;
}
#row_pp_section_setttings_crosssell_cross_sell_email td {
    border-top: 3px solid #6f8992 !important;
    padding-top: 15px !important;
}
#intercom-container .intercom-launcher-button {
    width: 105px !important;
    height: 40px !important;
    background: #c03a2b url("https://packpin.com/packpinSupportLogo.png") no-repeat center center !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important;
}